{% extends "base.html.twig" %}

{% block page_title %}NaviGator{% endblock %}

{% block page_content %}
    <script defer src="{{ assistantUrl("../ressources/js/main.js") }}" ></script>
    <script src="{{ assistantUrl("../ressources/js/reactive/addStep.js") }}" type="module"></script>
    <script src="{{ assistantUrl("../ressources/js/reactive/targetLocation.js") }}" type="module"></script>
    <script src="{{ assistantUrl("../ressources/js/reactive/deleteCross.js") }}" type="module"></script>
    <script defer src="{{ assistantUrl("../ressources/js/autocompletion.js") }}" ></script>
    <script defer src="{{ assistantUrl("../ressources/js/mapInteraction.js") }}"></script>
    <script defer src="{{ assistantUrl("../ressources/js/car.js") }}"></script>
    <script src="{{ assistantUrl("../ressources/js/reactive/loadHistory.js") }}" type="module"></script>
    <div id="nav-box" class="flex flex-col absolute z-100">
        <div class="itinerary-box box-blur">
            <form id="form">
                <div class="flex mb-6">
                    <div class="flex-col items-center flex space-between p-4" id="flag-box">
                        <span class="material-symbols-outlined">pin_drop</span>
                        <span class="material-symbols-outlined">flag</span>
                    </div>
                    <div class="flex-col flex gap-4 w-full">
                        <div id="formDestination" class="flex flex-col gap-4 w-full">
                            <div class="input-box">
                                <input type="text"
                                       list="auto-completion-0"
                                       placeholder="Commune de départ"
                                       name="commune0"
                                       class="commune"
                                       id="commune0"
                                       required>
                                <datalist id="auto-completion-0"></datalist>
                                <input type="hidden" name="gid0" id="gid0">
                                <span class="locate-button material-symbols-outlined"
                                      data-onclick="buttonLoc.click()" data-id="1">my_location</span>
                                <span class="material-symbols-outlined close"
                                      data-onclick="crossX.click()" data-id="1">close</span>
                            </div>
                            <div class="input-box">
                                <input type="text"
                                       list="auto-completion-1"
                                       placeholder="Commune d'arrivée"
                                       name="commune1"
                                       class="commune"
                                       id="commune1"
                                       required>
                                <datalist id="auto-completion-1"></datalist>
                                <input type="hidden" name="gid1" id="gid1">
                                <span class="locate-button material-symbols-outlined"
                                      data-onclick="buttonLoc.click()" data-id="2">my_location</span>
                                <span class="material-symbols-outlined close"
                                      data-onclick="crossX.click()" data-id="2">close</span>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="nbField" id="nbField" value="2">
                <input type="hidden" name="XDEBUG_TRIGGER">
                <div class="flex" id="destination">
                    <div id="addDestination" data-onclick="buttonAdd.add()" class="box-flex disabled">
                        <span class="material-symbols-outlined">add_circle</span>
                        <p>Ajouter une étape</p>
                    </div>
                    <button class="button-box text-center justify-center items-center flex gap-4" id="calcul"
                            type="submit" disabled>
                        <span class="material-symbols-outlined">near_me</span>
                        Calculer
                    </button>
                </div>
            </form>
        </div>
        <div class="box-blur flex-col flex gap-4" id="result">
            <div class="flex space-around">
                <div class="flex pastille gap-4">
                    <span class="material-symbols-outlined">schedule</span>
                    <p id="time-field">Erreur</p>
                </div>
                <div class="flex pastille gap-4">
                    <span class="material-symbols-outlined">directions_car</span>
                    <p id="distance-field">Erreur</p>
                </div>
                <div class="flex pastille gap-4">
                    <span class="material-symbols-outlined">local_gas_station</span>
                    <p id="gas-field">Erreur</p>
                </div>
            </div>
            <span id="info"></span>
        </div>
    </div>
    <img src="{{ assistantUrl("../ressources/img/load.gif")}}" alt="load" id="load">
    <div id="map"></div>
    <div id="popup" class="absolute"></div>
    <script defer>
        let center = ol.proj.fromLonLat([0.3522, 45.8566]);

        let map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: center,
                zoom: 6,
                zoomControl: false
            })
        });
    </script>
{% endblock %}