{% extends "base.html.twig" %}

{% block page_title %}NaviGator{% endblock %}

{% block page_content %}
<script defer src="../ressources/js/car.js"></script>

<div class="absolute form-box gap-10">

    <p class="text">
        Actuellement connecté en temps que {{ utilisateur.prenom }} {{ utilisateur.nom }} ({{ utilisateur.login }})
    </p>

    <div class="flex flex-col gap-4 mb-10 input-box">
        <p class="text">Ma voiture :</p>
        <form id="voiture" method="post" action="./voiture">
            <input class="input-detail" type="text" value="{{ voiture.marque }}" placeholder="Marque de votre voiture" name="marque" id="marque">
            <input class="input-detail" type="text" value="{{ voiture.modele }}" placeholder="Modèle de votre voiture" name="modele" id="modele">
            <input class="button-box text-center" value="Modifier" type="submit"/>
        </form>
    </div>

</div>
{% endblock %}